
<app-alert></app-alert>
<app-spinner *ngIf="loading"></app-spinner>
<section class="recipes" *ngIf="!loading && recipes && recipes.length">
  <app-pagination
  (paginate)="onPaginate($event)"
  [recipesPerPage]="recipesPerPage"
  [totalRecipes]="recipes.length"
  *ngIf="recipes && recipes.length"></app-pagination>
  <app-recipe-item
  *ngFor="let recipe of currentRecipes"
  [recipe]="recipe"
  [actionName]="buttonActionName"
  (buttonAction)="onAddRecipe($event)"
  [isAuth]="isAuth"></app-recipe-item>
</section>
