<nav class="nav">
  <div class="nav__wrapper">
    <div class="nav__box">
          <a routerLink="/" class="nav__title">Rezipe</a>
          <img src="../../assets/recipe.svg" alt="recipe-icon" class="nav__icon">
    </div>

    <div class="nav__box nav__box--links">
    <a routerLink="/search" routerLinkActive="nav__link--active" [routerLinkActiveOptions]="{exact: true}" class="nav__link">Search</a>
    <a routerLink="/dashboard" routerLinkActive="nav__link--active" class="nav__link">Dashboard</a>
    </div>
  </div>
</nav>
