@import "../../../styles.scss";

.recipe {
  height: 50vh;
  width: 24vw;
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(230, 230, 230);
  box-shadow: 0rem .1rem .4rem black;
  border-radius: .2rem;
  transition: all .4s;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    transform: translateY(-.2rem) scale(1.03);
    box-shadow: 0rem .2rem 1rem black;
    background-color: rgb(255, 255, 255);
  }
  &__image {
    width: 60%;
    height: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: 0rem .1rem .5rem black;
    border-radius: .1rem;
  }

  &__label {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 400;
    color: black;
    text-align: center;
  }

  &__calories {
    font-family: "Montserrat";
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    &--number {
      font-weight: bold;
    }
  }

  &__labels {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    &--diet {
      color: rgb(17, 82, 17);
      font-family: "Merriweather";
      font-weight: 300;
      font-size: 1.3rem;
    }
    &--health {
      color: rgb(105, 81, 20);
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 1.3rem;
    }
    &--caution {
      color: rgb(110, 15, 15);
      font-size: 1.3rem;
      font-family: "Merriweather";
      font-weight: 500;
    }
  }

}
