@import "../../styles.scss";

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &__label {
    text-align: center;
    font-family: "Montserrat";
    font-size: 3rem;
    color: black;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 1rem;
  }

  &__image {
    height: 80%;
    background-size: cover;
    background-position: center;
    box-shadow: 0rem .1rem .4rem black;
    @include respond(phone) {
      width: 60%;
      height: auto;
    }
  }

  &__wrapper {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    background-color: rgb(241, 241, 241);
    box-shadow: 0rem .1rem .5rem black;
    margin-top: 2rem;
    @include respond(phone) {
      width: 100vw;
      height: 70vh;
      flex-direction: column;
    }
  }

  &__box {
    height: 80%;
    width: 40%;
    border: .1rem solid black;
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    @include respond(phone) {
      height: 45%;
      width: 90%;
    }
  }

  &__plus {
    position: absolute;
    left: 90%;
    top: 2%;
    color: black;
    font-size: 2.5rem;
    background-color: white;
    box-shadow: 0rem 0rem .4rem black;
    text-shadow: 0rem 0rem .3rem black;
    padding: .3rem;
    border-radius: .2rem;
    transition: all .3s;
    cursor: pointer;
    border: .2rem solid black;
    &:hover {
      transform: scale(1.05);
      color: white;
      border: .2rem solid white;
    }
  }

  &__calories {
    font-family: "Montserrat";
    font-weight: 300;
    color: black;
    font-size: 2.5rem;
    text-align: center;
  }

  &__labels {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__diet {
    font-family: "Merriweather";
    text-align: center;
    letter-spacing: .2rem;
    font-weight: bold;
    color: rgb(17, 82, 17);
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  &__health {
    font-family: "Montserrat";
    text-align: center;
    margin-top: 1rem;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(105, 81, 20);
  }

  &__caution {
    font-family: "Merriweather";
    text-align: center;
    margin-top: 1rem;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(110, 15, 15);

  }

  &__ingredients {
    width: 95vw;
    background-color: rgb(211, 211, 211);
    box-shadow: 0rem .1rem 1rem black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0rem;
  }

  &__title {
    position: relative;
    margin-top: 2.5rem;
    font-size: 7rem;
    font-family: "Montserrat";
    color: black;
    text-shadow: 0rem .1rem 1rem black;
    letter-spacing: 1rem;
    font-weight: 300;
    text-decoration: underline;
    text-transform: uppercase;
    box-shadow: 0rem .1rem 1rem black;
    padding: 1rem;
    border-radius: .3rem;
    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 0rem;
      border-radius: 0rem;
      padding: 0rem;
      box-shadow: none;
      word-wrap: break-word;
      word-break: break-all;
    }
  }

  &__ingredient {
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 600;
    width: 48%;
    border: .1rem solid rgb(0, 0, 0);
    text-align: center;
    background-color: grey;
    box-shadow: 0rem .1rem 1rem black;
    color: rgb(255, 255, 255);
    margin: 1.5rem 0rem;
    text-shadow: 0rem .1rem .3rem black;
    @include respond(phone) {
      width: 90%;
    }
  }
}
