@import "../../../styles.scss";

.alert {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  width: 80vw;
  height: 3vh;
  border: .1rem solid black;
  border-radius: .3rem;
  box-shadow: 0rem .1rem .3rem black;
  position: relative;
  letter-spacing: .2rem;
  color: white;
  margin: 1rem 0rem;
  text-shadow: 0rem .1rem .3rem black;
  left: 50%;
  transform: translateX(-50%);
  &--success {
    background-color: rgb(94, 255, 94);
    border: .2rem solid green;
  }
  &--danger {
    background-color: rgb(255, 81, 81);
    border: .2rem solid red;
  }
  @include respond(phone) {
    letter-spacing: 0rem;
    font-size: 1.8rem;
  }
}
