<section class="home">
  <div class="home__wrapper">
    <div class="text">
      <h1 class="text__title">Find The <span class="text__span">Recipes</span> You Need, Achieve Your Goals & Enjoy!</h1>
      <a routerLink="/search" class="text__button">Start</a>
    </div>
    <div class="images">
      <div class="images__wrapper images__wrapper--1">
          <img src="../../assets/food-img-1.jpg" alt="food-1" class="images__image images__image--1">
      </div>

      <div class="images__wrapper images__wrapper--2">
          <img src="../../assets/food-img-2.jpg" alt="food-2" class="images__image images__image--2">
      </div>

        <div class="images__wrapper images__wrapper--3">
          <img src="../../assets/food-img-3.jpg" alt="food-3" class="images__image images__image--3">
      </div>
    </div>
  </div>
</section>
