@import "../../../styles.scss";

.recipe {
    height: 50vh;
    width: 24vw;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 0.1rem 0.4rem black;
    border-radius: 0.2rem;
    transition: all 0.4s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &:hover {
        transform: translateY(-.2rem) scale(1.03);
        box-shadow: 0 0.2rem 1rem black;
        background-color: rgb(255, 255, 255);
    }
    @include respond(tab-land) {
        width: 30vw;
    }
    @include respond(tab-port) {
        width: 48vw;
    }
    @include respond(phone) {
        width: 90vw;
    }

    &__ingredients {
        position: absolute;
        left: 92%;
        top: 3%;
        font-size: 1.2rem;
        color: rgb(122, 120, 120);
    }

    &__image {
        width: 60%;
        height: 50%;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0.1rem 0.5rem black;
        border-radius: 0.1rem;
    }

    &__label {
        font-family: "Montserrat";
        font-size: 2rem;
        font-weight: 400;
        color: black;
        text-align: center;
        @include respond(tab-port) {
            font-size: 2.4rem;
        }
    }

    &__calories {
        font-family: "Montserrat";
        font-size: 1.7rem;
        font-weight: 500;
        text-align: center;
        &--number {
            font-weight: bold;
        }
        @include respond(tab-port) {
            font-size: 2rem;
        }
    }

    &__labels {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        &--diet {
            color: rgb(17, 82, 17);
            font-family: "Merriweather";
            font-weight: 300;
            font-size: 1.3rem;
            @include respond(tab-port) {
                font-size: 1.6rem;
            }
        }
        &--health {
            color: rgb(105, 81, 20);
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 1.3rem;
            @include respond(tab-port) {
                font-size: 1.6rem;
            }
        }
        &--caution {
            color: rgb(110, 15, 15);
            font-size: 1.3rem;
            font-family: "Merriweather";
            font-weight: 500;
            @include respond(tab-port) {
                font-size: 1.6rem;
            }
        }
    }

    &__button {
      background-color: white;
      border: .3rem solid black;
      font-family: "Montserrat";
      font-weight: 400;
      position: relative;
      padding: 1rem 2.5rem;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      transition: all .3s;
      text-align: center;
      box-shadow: 0rem .1rem .3rem black;
      margin-bottom: 2.5rem;
      &:hover {
        background-color: black;
        font-weight: bold;
        color: white;
        border: .3rem solid white;
        transform: translate(-50%, -.5rem)
      }
      &:active,
      &:focus {
        outline: none;
      }
    }

}
